<ui-vertical-card>
  <mat-card-title class="title">{{customer.firstName}}dfjsdhv {{customer.lastName}}</mat-card-title>
  <mat-card-subtitle class="sub-title">{{customer.age}}</mat-card-subtitle>
  <mat-card-subtitle class="sub-title">{{customer.phone}}</mat-card-subtitle>
  <mat-card-subtitle class="sub-title">{{customer.address}}</mat-card-subtitle>
  <div class="actions">
    <button mat-raised-button [routerLink]="['../edit',customer.phone]">edit</button>
    <button mat-raised-button (click)="deleteCustomer()">delete</button>
  </div>
</ui-vertical-card>
